:root {
  --title-color: #1862ab;
  --date-color: #ced4da;
  --a-color: #228ae6;
  --a-hover-color: #1862ab;
}

html {
  font-size: 24px;
}

body {
  font-family: sans-serif;
  width: 100%;
  border-top: 0.2rem solid var(--title-color);
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

@media screen and (max-width: 786px) {
  body {
    font-size: 2rem;
    background-color: grey;
  }

}

h1 {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0;
  color: var(--title-color);
}

.title {
  border-left: solid 1px var(--title-color);
  padding-left: 0.3rem;
  margin-left: -0.3rem;
}

h2 {
  color: var(--title-color);
}


h3 {
  padding-top: 0;
  margin-top: -1.2rem;
  margin-bottom: -0.5rem;;
}

h3 {
  font-size: 1rem;
  font-weight: lighter;
  font-style: italic;
  color: var(--date-color);

}

#nav {
  font-weight: lighter;
  margin-bottom: 2rem;
}

#nav ul {
  padding: 0;
  margin: 0;
  display: table;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#nav ul li {
  display: inline-block;
  border-top: 1px solid var(--a-color);
  border-bottom: 1px solid var(--a-color);
  display: table-cell;
  list-style-type: none;
  text-align: center;
  padding: 0.2rem 1rem 0.2rem 1rem;
}

#content {
  max-width: 37rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

}

a {
  text-decoration: none;
  color: var(--a-color);
}

a:hover {
  text-decoration: none;
  color: var(--a-hover-color); 
}
